/* Retro LCD styling for system status output */
@font-face {
  font-family: 'Doto';
  src: url('./Doto-VariableFont_ROND,wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.analyzer-control-lcd-outer {
  padding: 16px;
}

.lcd-retro {
  display: flex;
  height: 100px;
  column-gap: 8em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #89ddeb;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 12px;
  background: #003477;
  box-shadow: 0 0 40px 2px #1ec6ff55 inset;
  border: 4px solid #444;
  border-radius: 8px;
}

.lcd-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.lcd-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* LCD label and value styling */
.lcd-label {
  font-family: 'Doto', 'Courier New', Courier, monospace;
  color: #b2d6f5;
  font-size: inherit;
  letter-spacing: inherit;
  text-align: right;
  opacity: 0.8;
  font-weight: bold;
}

.lcd-value {
  font-family: 'Doto', 'Courier New', Courier, monospace;
  color: #b2d6f5;
  font-size: inherit;
  letter-spacing: inherit;
  text-align: left;
  font-weight: bold;
}

.lcd-separator {
  justify-content: center;
  margin-top: 8px;
}