{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020, // allow `const`, `let`, async/await, etc.
    "sourceType": "module" // webpack config is CommonJS; use 'module' if you're using ESM
  },
  "ignorePatterns": [
    "src/engine/"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "import/no-unresolved": "error"
  }
}