.student-equipment {
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
}

.spacer {
  height: 2rem;
}

.paired-equipment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  column-gap: 1em;
  row-gap: 1em;
}