.omt-module {
  min-width: 250px !important;

  .module-controls {
    display: flex;
    flex-direction: column;
  }

  .control-group label {
    text-align: center;
  }

  .input-knobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 2em;
  }

  .led-indicators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .status-displays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;

    label {
      width: max-content;
    }
  }
}