.spec-a-canvas-container {
  position: relative;
  min-height: min-content;
  height: 100%;
  display: flex;

  border: 8px solid transparent;
  border-image-source: url(./bezel.png);
  border-image-slice: 30 fill;
  border-image-outset: 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #282a2b;
  border-radius: 10px;
  margin: 12px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Single canvas mode (default for spectralDensity and waterfall) */
.spec-a-canvas-container canvas.spec-a-canvas-single {
  display: block;
  width: 100%;
  height: 460px;
}

/* Both mode canvases */
.spec-a-canvas-container canvas.spec-a-canvas-spectral {
  display: none;
  width: 100%;
  height: 230px;
}

.spec-a-canvas-container canvas.spec-a-canvas-waterfall {
  display: none;
  width: 100%;
  height: 230px;
}

/* Info Section */
.spec-a-info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  border-radius: 4px;
  margin: 0 12px 5px 12px;
  background-color: #1a1a1a;

  .spec-a-btn {
    top: 8px;
    right: 8px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: #fff;
    padding: 2px 12px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px #000, 0 0 2px #fff;
    height: 1.5em;
    margin-right: 0.25em;
  }

  /* muted red normally */
  .btn-tap-a,
  .btn-tap-b {
    background: rgba(139, 0, 0, 0.7);
  }

  /* bright green when active */
  .btn-tap-a.btn-active,
  .btn-tap-b.btn-active {
    background: rgba(0, 139, 0, 0.7);
  }

  .spec-a-info {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 14px;
    flex: 1;
  }
}

.spec-a-info div {
  padding: 4px 8px;
}

/* Controls */
.spec-a-controls {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}

.spec-a-controls button {
  flex: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--color-dark-text-muted);
  color: #fff;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .spectrum-analyzer-box {
    min-width: 250px;
  }

  .spec-a-title {
    font-size: 14px;
  }

  .spec-a-span {
    font-size: 12px;
  }

  .spec-a-controls button {
    font-size: 12px;
    padding: 8px;
  }
}