.filter-module {
  .module-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .split-top-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  .control-group label {
    text-align: center;
  }

  .led-indicators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .status-displays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}