.filter-module {
  min-width: auto !important;
  max-width: min-content !important;

  .module-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: max-content;
  }

  .split-top-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  .control-group label {
    text-align: center;
  }

  .input-knobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .led-indicators {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .status-displays {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}