.body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background-color: #52667a;
}

.body-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}